body {
    background-color: rgb(132, 160, 223);
}

.title {
    font-size: 5rem;
    text-align: center;
}

#nav-bar {
    display: flex;
}

.btn {
    padding: 1rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(210, 226, 240);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}
  
.gallery {
    margin: 2rem;
    padding: 1rem;
    width: 18%;
    background-color: white;
}

.box {
    text-align: center;
}